{% extends "global.html" %}

{% block content %}
<div class="container">
    {% include "messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1>Edit Schools Below</h1>

                    <h2>Schools</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Postal Code</th>
                                <th>City</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Principal</th>
                                <th>Admin</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for school in schools %}
                            <tr>
                                <td>{{ school[0] }}</td>
                                <td>{{ school[1] }}</td>
                                <td>{{ school[2] }}</td>
                                <td>{{ school[3] }}</td>
                                <td>{{ school[4] }}</td>
                                <td>{{ school[5] }}</td>
                                <td>{{ school[6] }}</td>
                                <td>{{ school[7] }}</td>
                                <td>
                                    <form method="POST" action="/main/admin/school">
                                        <input type="hidden" name="action" value="delete">
                                        <input type="hidden" name="school_id" value="{{ school[0] }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h2>Add School</h2>
                    <form method="POST" action="/main/admin/school">
                        <input type="hidden" name="action" value="insert">
                        <label for="school_name">Name:</label>
                        <input type="text" id="school_name" name="school_name" required><br>
                        <label for="postal_code">Postal Code:</label>
                        <input type="text" id="postal_code" name="postal_code"><br>
                        <label for="city_name">City:</label>
                        <input type="text" id="city_name" name="city_name"><br>
                        <label for="school_phone_number">Phone Number:</label>
                        <input type="text" id="school_phone_number" name="school_phone_number" required><br>
                        <label for="school_email">Email:</label>
                        <input type="email" id="school_email" name="school_email" required><br>
                        <label for="school_principal">Principal:</label>
                        <input type="text" id="school_principal" name="school_principal" required><br>
                        <label for="school_admin">School Admin:</label>
                        <input type="text" id="school_admin" name="school_admin" required><br>
                        <input type="submit" value="Add School">
                    </form>

                    <h2>Update School</h2>
                    <form method="POST" action="/main/admin/school">
                        <input type="hidden" name="action" value="update">
                        <label for="school_id">School ID:</label>
                        <input type="text" id="school_id" name="school_id" required><br>
                        <label for="school_name">Name:</label>
                        <input type="text" id="school_name" name="school_name" required><br>
                        <label for="postal_code">Postal Code:</label>
                        <input type="text" id="postal_code" name="postal_code"><br>
                        <label for="city_name">City:</label>
                        <input type="text" id="city_name" name="city_name"><br>
                        <label for="school_phone_number">Phone Number:</label>
                        <input type="text" id="school_phone_number" name="school_phone_number" required><br>
                        <label for="school_email">Email:</label>
                        <input type="email" id="school_email" name="school_email" required><br>
                        <label for="school_principal">Principal:</label>
                        <input type="text" id="school_principal" name="school_principal" required><br>
                        <label for="school_admin">School Admin:</label>
                        <input type="text" id="school_admin" name="school_admin" required><br>
                        <input type="submit" value="Update School">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
