{% extends "global_layout.html" %}
{% block content %}

 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if books_filtered_admin|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Books found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Book ID</th>
                                    <th>Book Title</th>
                                    
                                    <th>Author Name(s)</th>
                                    <th>Copies in school library</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books_filtered_admin %}
                                    <tr>
                                        <td> {{ book[0] }} </td>
                                        <td> {{ book[1] }} </td>  
                                        <td> {{ book[2] }} </td>
                                        <td> {{ book[3] }} </td>  
                                        
                                        
                                         

                                                                           
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}