{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1 style="margin-top: 5rem;">Choose Month and Year</h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        <form action="/main/admin/query_3_1_1" method="post">
                                            <div class="form-group">
                                                <label for="month">Month:</label>
                                                <div class="custom-select-wrapper">
                                                    <select id="month" name="month" class="form-control form-control-lg custom-select">
                                                        <option value="" selected>-</option>
                                                        {% for month in month_names %}
                                                        <option value="{{ loop.index }}">{{ month }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="custom-select-arrow">&#9662;</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="year">Year:</label>
                                                <input type="text" id="year" name="year" class="form-control form-control-lg" pattern="[0-9]{4}" placeholder="Enter a valid year">
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <button class="btn btn-primary btn-submit-custom" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
