{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1 style="margin-top: 5rem;">Filter books in school library by:</h1>
                    {% if (categories|length == 0) or (authors|length == 0)  %}
                        <h1 style="margin-top: 5rem;">No Books Found in Library!</h1>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <form action="/main/school_admin/queries" method="post">
                                        <div class="form-group">
                                            <label for="category">Category Name:</label>
                                            <div class="custom-select-wrapper">
                                                <select id="category" name="category" class="form-control form-control-lg custom-select">
                                                    <option value="" selected>-</option>
                                                    {% for cat in categories %}
                                                        <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="custom-select-arrow">&#9662;</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="author">Author Name:</label>
                                            <div class="custom-select-wrapper">
                                                <select id="author" name="author" class="form-control form-control-lg custom-select">
                                                    <option value="" selected>-</option>
                                                    {% for author in authors %}
                                                        <option value="{{ author[1] }}">{{ author[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="custom-select-arrow">&#9662;</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="title">Title:</label>
                                            <input type="text" id="title" name="title" class="form-control form-control-lg"  placeholder="Enter a part of the title">
                                        </div>

                                        <div class="form-group">
                                            <label for="nr_copies">Minimum number of copies</label>
                                            <input type="number" id="nr_copies" name="nr_copies" class="form-control form-control-lg" min="0" placeholder="Enter the minimum number of copies (default = 0)" required>
                                        </div>
                                        
                                        


                                        <div style="margin-top: 20px;">
                                            <button class="btn btn-primary btn-submit-custom" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </thead>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}