{% extends "global_layout.html" %}
{% block content %}
<h1>Check if true!!! Operators that have lent the same number of books in the last year(>20 book loans) </h1>
 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if hyperactive_operators|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Authors found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Operator Name</th>
                                    <th>Book Loans Made</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for operator in hyperactive_operators %}
                                    <tr>
                                        <td> {{ operator[0] }} </td>
                                        <td> {{ operator[1] }} </td>  
                                         

                                                                           
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}