{% extends "global_layout.html" %}
{% block content %}
<h1>Authors with >=5 books less than the author with the most books </h1>
 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if inactive_authors|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Authors found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Author Name</th>
                                    <th>Author ID</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for author in inactive_authors %}
                                    <tr>
                                        <td> {{ author[0] }} </td>
                                        <td> {{ author[1] }} </td>  
                                         

                                                                           
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
