{% extends "global_layout.html" %}
{% block content %}

 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                
                    <h1 style="margin-top: 5rem;">Loans by schools</h1>
                
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>School ID</th>
                                    <th>School Name</th>
                                    <th>Number of Loans</th>
                                    


                                </tr>
                            </thead>
                            <tbody>
                                {% for school in loans_by_school_year_month %}
                                    <tr>
                                        <td> {{ school[0] }} </td>
                                        <td> {{ school[1] }} </td>
                                        <td> {{ school[2] }} </td>



                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
