{% extends "global.html" %}

{% block content %}
<div class="container">
    {% include "messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1>Welcome School Admin!</h1>
                    <a href="{{ url_for('main_school_admin_books') }}" class="btn btn-primary">Edit Books</a>
                    <a href="{{ url_for('main_school_admin_users') }}" class="btn btn-primary">Edit Users</a>
                    <a href="{{ url_for('accept_user_registration') }}" class="btn btn-primary">Registrations</a>
                    <a href="{{ url_for('main_school_admin_library') }}" class="btn btn-primary">Library</a>
                    <a href="{{ url_for('main_school_admin_reviews') }}" class="btn btn-primary">Reviews</a>
                    <a href="{{ url_for('main_school_admin_queries') }}" class="btn btn-primary">Queries</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}