{% extends "global.html" %}

{% block content %}
<div class="container">
    {% include "messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1>Books in School Library</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Book ID</th>
                                <th>Title</th>
                                <th>Number of Copies</th>
                                <th>Total Copies</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{ book[0] }}</td>
                                <td>{{ book[1] }}</td>
                                <td>{{ book[4] }}</td>
                                <td>{{ book[2] }}</td>
                                <td>{{ book[3] }}</td>
                                <td>
                                    <form method="POST" action="/main/users/library">
                                        <input type="hidden" name="action" value="Make Reservation">
                                        <input type="hidden" name="book_id" value="{{ book[1] }}">
                                        <button type="submit" class="btn btn-primary">Make Reservation</button>
                                    </form>
                                    <a href="/main/users/library/reviews/{{ book[1] }}" class="btn btn-primary">Review</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h1>My Loans</h1>
                    {% if loans %}
                    <table>
                        <thead>
                            <tr>
                                <th>Loan ID</th>
                                <th>Book Title</th>
                                <th>Starting Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loan in loans %}
                            <tr>
                                <td>{{ loan[0] }}</td>
                                <td>{{ loan[5] }}</td>
                                <td>{{ loan[2] }}</td>
                                <td>{{ loan[3] }}</td>
                                <td>{{ loan[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No loans found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}