{% extends "global_layout.html" %}
{% block content %}
<h1>Teachers younger than 40 with most loans </h1>
 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if teachers_under_fourty|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Teachers found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Number of Loans</th>

                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers_under_fourty %}
                                    <tr>
                                        <td> {{ teacher[0] }} </td>
                                        <td> {{ teacher[1] }} </td>  
                                        <td> {{ teacher[2] }} </td>
                                        <td> {{ teacher[3] }} </td>  
                                         

                                                                           
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}