{% extends "global_layout.html" %}
{% block content %}
<h1>Top 3 categories in loans </h1>
 <div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if top_three|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Categories Found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category 1</th>
                                    <th>Category 2</th>
                                    <th>Total Loans</th>

                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for cat in top_three %}
                                    <tr>
                                        <td> {{ cat[0] }} </td>
                                        <td> {{ cat[1] }} </td>  
                                        <td> {{ cat[2] }} </td>  
                                         

                                                                           
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}